.foo.foo.foo.foo.bar.bar.bar.bar,
.baz:before.baz:before.baz:before.baz:before {
  color: tomato;
}

.hello.hello.hello.hello > .world.world.world.world {
  background-color: tomato;
}

@media screen and (min-width: 123em) {
  .yay.yay.yay.yay { color: red; }
}
